$nav-bg: #6b7c9c;
$white: #fff;
$black: #000;
$code-bg: #293538;
$btn-color: #0d6efd;
$btn-hover: #41464b;
$footer-color: #2c5353;
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin marginpadding {
    margin: 20px 10px;
    padding: 0px 20px;
}
@mixin heading{
    padding: 10px 0 0;
    font-size: 30px;
    text-decoration: underline;
}
@mixin paragraph{
    font-size: 20px;
            text-align: justify;
            padding-left: 20px;
            margin: 10px 0;
}
@mixin code($para){
    background: $code-bg;
                font-size: 18px;
                color: $white;
                display: flex;
                width: $para;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include flexcenter;
}
header {
    nav {
        @include flexcenter;
        height: 60px;
        width: 100%;
        background: $nav-bg;
        position: fixed;
        ul {
            display: flex;
            list-style-type: none;
            li {
                padding: 8px 20px;
                margin: 0px 5px;
                border-radius: 5px;
                transition: all 0.2s linear;
                &:hover {
                    background-color: $white;
                    color: $black;
                    a {
                        color: $black;
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: $white;
                }
            }
        }
    }
}
main {
    margin-top: 60px;
    #intro {
        @include marginpadding;
        #intro-heading {
            @include heading;
        }
        p {
            @include paragraph;
        }
    }
    #use {
        @include marginpadding;
        #use-heading {
            @include heading;
        }
        p {
            @include paragraph;
        }
        #use-sample {
            pre {
                @include code(750px);
            }
        }
        #fetch-sample {
            pre {
                @include code(900px);
            }
        }
    }
    #example {
        @include marginpadding;
        #example-heading {
            @include heading;
        }
        p {
            @include paragraph;
        }
        .container {
            #btn-fetch {
                margin: 10px 0;
                background: $btn-color;
                color: $white;
                font-size: 20px;
                font-weight: 400;
                padding: 8px 20px;
                border: 1px solid $black;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                    background: $btn-hover;
                }
                &:active {
                    background: transparent;
                    color: $black;
                }
            }
            #result {
                background: $code-bg;
                color: $white;
                width: 600px;
                padding: 20px 50px 20px 20px;
               h5 {
                    font-size: 25px;
                    font-weight: 500;
                }
            }
        }
    }
    #contribute {
        @include marginpadding;
        #contribute-heading {
            @include heading;
        }
        p {
            @include paragraph;
        }
    }
}
footer {
    height: 50px;
    @include flexcenter;
    p {
        font-size: 18px;
        a {
            text-decoration: none;
            color: $footer-color;
            font-size: 20px;
            font-weight: bold;
        }
    }
}