*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 200px; */
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: #6b7c9c;
    position: fixed;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    padding: 8px 20px;
    margin: 0px 5px;
    border-radius: 5px;
    transition: all .2s linear;
}
nav ul li:hover{
    background-color: #fff;
}
nav ul li:hover a,nav ul li:hover{
    color: #000;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
main{
    margin-top: 60px;
}


#intro,#use,#example,#contribute{
    margin: 20px 10px;
    padding: 0px 20px;
}
#intro-heading,#use-heading,#example-heading,#contribute-heading{
    padding: 10px 0 0;
    font-size: 30px;
    text-decoration: underline;
}
#intro p,#use p,#example p, #contribute p{
    font-size: 20px;
    text-align: justify;
    padding-left:20px;
    margin: 10px 0;
}
#fetch-sample pre,#ajax-sample pre{
    background: #293538;
    font-size: 18px;
    color: #fff;
    display: flex;
    width: 600px;
}
#ajax-sample pre{
    width: 800px;
}
#btn-fetch{
    margin: 10px 0;
    background: #0d6efd;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
#btn-fetch:hover{
    background:#41464b;
}
#btn-fetch:active{
    background: transparent;
    color: #000;
}
#result{
    background: #293538;
    color: #fff;
    width: 600px;
    padding: 20px 50px 20px 20px;
}
#result h5{
    font-size: 25px;
    font-weight: 500;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 18px;
}
footer p a{
    text-decoration: none;
    color: rgb(44, 83, 83);
    font-size: 20px;
    font-weight: bold
}